* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body {
    background: rgb(216, 132, 198);
}

.hello {
    display: block;
    left: 300px;
}

a {
    padding: 5px;
}

.header-menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 190, 206);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;

}

form {
    background: rgb(111, 151, 189);
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 30px;
    align-items: center;
}

.App {
    width: 100%;
}

.Footer__App{
    height: 60px;
    width: 100%;
    background-color: chocolate;
    display: flex;
}

.Data__Footer__App {
    margin: 20px 0px 0px 1180px;
}

.MiniLogo__Footer__App {
    margin: 10px 0px 0px 10px;
    width: 40px;
    height: 40px;
    background-color: black;
}

.Header_Main-Board {
    height: 200px;
    width: 100%;
    background-color: blue;
    display: flex;
}

.Background__Header {
    display: flex;
    width: 90%;
    height: 100%;
    background-color: blanchedalmond;
}

.Profile__Background__Header {
    background-color: coral;
    width: 170px;
}

.Search__Background__Header {
    display: flex;
    width: 700px;
    height: 20px;
    margin: 20px 0px 0px 250px;
}

.Paint__Background__Header{
    height: 150px;
    width: 1087px;
    background-color: black;
}

.Input__Search__Background__Header {
    width: 90%;
}

.Profile__Header {
    width: 10%;
    height: 200px;
    background-color: bisque;
}

.User__Profile__Header {
    height: 60px;
}

.Foto__User__Profile__Header {
    margin: 10px 0px 0px 30px;
    width: 70px;
    height: 70px;
    background-color: aqua;
}

.Text__Profile__Header{
    width: 80px;
    margin: 10px 0px 0px 30px;
    background-color: blueviolet;
}

.Button__Profile__Header{
    margin: 7px 0px 0px 40px;
}


.Logo__Background__Header {
    margin: 20px 0px 0px 23px;
    width: 120px;
    height: 120px;
    background-color: darkblue;
}

.Name__Background__Header {
    margin: 5px 0px 0px 20px;
}


.Main-Content__App {
    display: flex;
    min-height: 530px;
}

.List-Topic__Main-Content {
    width: 12%;
    background-color: aqua;
}

.Question__Main-Content {
    width: 77%;
    background-color:aliceblue;
}

.Question__Main-Content {
    margin: 10px 10px 10px 10px;
}

.Article__Question__Main-Content {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
}

.User-Item__Article__Question__Main-Content {
    width: 80px;
    height: 110px;
    background-color: brown;
}

.Login__User-Item__Article__Question__Main-Content {
    margin-left: 10px;
    margin-top: 3px;
}

.Text-Item__Article__Question__Main-Content {
    height: 110px;
    width: 900px;
    background-color: bisque;
}

.Foto__User-Item__Article__Question__Main-Content {
    height: 80px;
    width: 80px;
    background-color: burlywood;
}

.Name-Text__Text-Item__Article__Question__Main-Content{
    margin-left: 10px;
}

.Content-Text__Text-Item__Article__Question__Main-Content {
    margin: 5px 0px 0px 10px;
}

.Data__Text-Item__Article__Question__Main-Content {
    margin: 25px 0px 0px 10px;
}

.Item__Data__Text-Item__Article__Question__Main-Content {
    margin: 0px 0px 5px 0px;
    height: 30px;
}

.Tools__Main-Content {
    width: 10%;
    padding-top: 20px;
    background-color: white;
}

.Content__Tools__Main-Content {
    margin: 10px 10px 20px 20px;
    background-color: red;
    width: 100px;
    height: 50px;
}

.NameList__List-Topic__Main-Content {
    margin: 10px 10px 10px 20px;
}

.ListContent__List-Topic__Main-Content {
    margin: 10px 10px 10px 10px;
}

.Item__ListContent__List-Topic__Main-Content {
    margin-bottom: 8px;
    display: flex;
}

.Number-Of__Item__ListContent__List-Topic__Main-Content {
    padding-right: 5px;
}

.Text__Item__ListContent__List-Topic__Main-Content {
    background-color: blanchedalmond;
    width: 130px;
}











